html {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.containerpri {
    margin: 10px auto;
    max-width: 750px;
    max-height: auto;
<<<<<<< HEAD
<<<<<<< HEAD
    padding-left: 4px;
    padding-right: 4px;
=======
>>>>>>> parent of f072790 (added padding)
=======
>>>>>>> parent of f072790 (added padding)

}
header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo {
    width: 120px;
    padding-right: 11px;
    border-right: solid rgba(219,219,219,0.5);
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 5px;
}

.navigazione { 
    list-style: none;
}

.navigazione > li {
    display: inline-block;
    line-height: 2em;
}

.navigazione > li > a {
    display: inline-block;
    text-transform:uppercase;
    color: rgba(168,168,168,255);
    font-size: .7em;
    padding-right: 2px;
    text-decoration: none;
}

/* Main CSS */

main {
    margin: 0 auto;
}

main > div {
    margin: 0 auto;
    margin-bottom: 1.3rem;
}

/* Prima sezione */

.contenitore1 {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.overlay {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.titolobanner, .sottotitolo {
    margin-left: 45px;
    width: 45%;
    color: rgba(255, 255, 255, 0.8);
}

.titolobanner {
    font-size: 1.2rem;
    padding-top: 189px;
}

.sottotitolo {
    font-size: .6em;
}


.titolosezione {
    font-weight: bolder;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contenitore2 p:nth-child(1) {
    font-size: .5em;
    color: rgb(181,181,181);
    font-family: 'Open Sans', sans-serif;
}

/* Seconda Sezione */

.contenitore2 {
    width: 100%;
}

.contenitore2::after {
    content: "";
    display: table;
    clear: both;
}

.intestazione {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.sidebar-left {
    width: 20%;
    float: left;
}

.contenitore2 img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    filter: brightness(0.85);
}

.sidebar-right {
    width: 20%;
    float: right;
}

.central-section {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

h3 {
    font-size: .7em;
    color: black;
    font-weight: bold;
}

.sidebar-left p,
.sidebar-right p,
.central-section p {
    color: rgb(181,181,181);
    font-size: .7em;
}


footer {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    font-size: .7rem;
 }

.hearts {
    color: red;
    font-size: 1.1rem;
}