html {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.containerpri {
    margin: 10px auto;
    width: 750px;
    height: auto;

}
header {
    width: 750px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo {
    width: 120px;
    padding-right: 11px;
    border-right: solid rgba(219,219,219,0.5);
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 5px;
}

.navigazione { 
    list-style: none;
}

.navigazione > li {
    display: inline-block;
    line-height: 2em;
}

.navigazione > li > a {
    display: inline-block;
    text-transform:uppercase;
    color: rgba(168,168,168,255);
    font-size: .7em;
    padding-right: 2px;
    text-decoration: none;
}

/* Main CSS */

main {
    margin: 0 auto;
}

main > div {
    margin: 0 auto;
    margin-bottom: 5px;
}

/* Prima sezione */

.contenitore1 {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: 0;
    width: 750px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.overlay {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.titolobanner {
    color: rgba(255, 255, 255, 0.8);
    width: 45%;
    font-size: 1.2rem;
    padding-top: 189px;
    margin-left: 45px;
}

.sottotitolo {
    font-size: .5em;
    color: inherit;
}

.titolosezione {
}

/* Seconda Sezione */

.contenitore2 {
    background-color: rgba(3,134,251,255);
    width: 750px;
    height: 420px;
}

.contenitore2::after {
    content: "";
    display: table;
    clear: both;

}

.contenitore2 > div {
    background-color: rgba(171,207,231,255);
}

.intestazione {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.intestazione ~ div {
    height: 340px;
}
.sidebar-left {
    width: 20%;
    float: left;
}

.sidebar-right {
    width: 20%;
    float: right;
}

.central-section {
    display: inline-block;
    width: 56%;
    margin-left: 15px;
    margin-right: 15px;
}

footer {
    width: 750px;
    height: 35px;
    background-color: rgba(140,0,255,255);
    margin: 0 auto;
 }